name: Lint Spec
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
        with:
          persist-credentials: false
      - name: Lint spec
        uses: mhiew/redoc-lint-github-action@fa9aaf1f917397c43201196d45b2cb5d95dcbf86 # v3
        with:
          args: 'spec/gen/faro.gen.yaml'
